#result{
height: 50px;
width: 40%;
background-color: lightgrey;
color: black;
border: 2px solid black;
margin-left: 10px
margin-bottom: 20px;
padding: 5px;
}

#answer{
text-align: right;
}

#calckeys {
text-align: left;
}

button{
height: 30px;
width: 60px;
border: 2px solid rgb(0, 0, 0);
margin: 10px; 
}